{% extends 'base.html' %}

{% block title %}
    <title>EVE Online ESI API Swagger Interface</title>
{% endblock %}

{% block heading %}
    <h1>EVE Online</h1>
{% endblock %}

{% block subheading %}
    <h2>ESI API Swagger Interface</h2>
{% endblock %}

{% block content %}
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
{% endblock %}
